body, head, footer {
    background-color: #f8f9fa !important;
}

body {  
    margin: 0;
    overflow-x: hidden
}

.content {
    padding-bottom: 80px;
}

.navbar-brand {
    padding-left: 15px;
}

.navbar-nav ms-auto {
    padding-right: 15px;
}

#card {
    min-height: 70vh;
}

#card_r {
    min-height: 70vh;
}

#register {
    max-width:480px; width:100%
}

#login {
    max-width:420px; width:100%
}

#img {
    max-width: 40%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 50px;
}

#img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#wheelContent {
    gap: 30px;
    display: flex; 
    align-items: flex-start;
    margin-bottom: 50px;
}

#instructions {
    max-width: 70%;
    transform: translateY(-50px)
}

.info {
    font-size: 1.1em;
}

.info_1 {
    font-size: 1.2em;
}

.form {
    margin-top : 20px;
    margin-right: 200px;
    margin-bottom: 50px;
    float: right;
}

.box {
    width: 120px;
    max-width: 120px; 
    height: 80px;;
    margin-top: 2px;
    border-radius: 6px;      
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 0.7rem;

}

.box span {
    color: #fff;
    margin-left: 6px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#top {
    margin-top: 100px;
}

#ColorTabs {
    justify-content: center;
}

#ColorTabs .nav-link.active {
    font-weight: bold;
}

#ColorTabs .nav-link {
    font-size: 1.2em;
    margin-top: 20px;
}

.match {
    margin-bottom: 20px;
}

#com {
    padding-right: 140px;
}

#up {
    padding-right: 140px;
}

#colorPicker {
    width:80px; 
    height:80px;
}

#selectedColor, #extractedColor {
    width:200px; 
    height:200px;
    border:1px solid #ffffff;
}


#colorPalette {
    width:100px; 
    height:100px;
}

#save {
    border-radius: 12px;
    height: 38px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#inst {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
    color: #555;
    clear: both;
}

#palette {
    width:100px; 
    height:100px;
    border:1px solid #ffffff;
}