{% extends "layout.html" %}
 
{% block title %}Genetate palettes{% endblock %}

{% block body %}
     <ul class="nav nav-tabs" id="ColorTabs" role="tablist">
          <li class="nav-item" role="presentation">
               <button class="nav-link {% if tab == 'pick' %}active{% endif %}" id="pick-tab" data-bs-toggle="tab" data-bs-target="#pick" type="button" role="tab" aria-controls="pick" aria-selected="{% if tab == 'pick' %} true {% else %} false {% endif %}">Pick A Color</button>
          </li>
          <li class="nav-item" role="presentation">
               <button class="nav-link {% if tab == 'upload' %}active{% endif %}" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload" type="button" role="tab" aria-controls="upload" aria-selected="{% if tab == 'upload' %} true {% else %} false {% endif %}">Upload An Image</button>
          </li>
     </ul>

     <form method="POST" action="/color_matcher" enctype="multipart/form-data">
          <div class="tab-content" id="TabContent">
               <!-- Pick a color tab content -->
               <div class="tab-pane fade {% if tab == 'pick' %}show active{% endif %}" id="pick" role="tabpanel" aria-labelledby="pick-tab">
                    <div class="container mt-5">
                         <div class="row align-items-center justify-content-center g-4">

                              <div class="col-md-3 text-center">
                                   <h4 class="mb-3">Pick a color <br>🡇</h4>
                                   <input type="color" id="colorPicker" name="color" class="form-control form-control-color mx-auto" value="{{ color or '#000000' }}">
                                   <button type="submit" class="btn btn-primary mt-3">
                                        Find Combinations
                                   </button>
                              </div>

                              <div class="col-md-3 text-center">
                                   <h4 class="mb-3">Selected color</h4>
                                   <div class="rounded shadow-sm mx-auto"  id="selectedColor" style="background-color: {{ color or '#ffffff' }};"></div>

                                   {% if color %}
                                   <p class="mt-2 text-muted">{{ color }}</p>
                                   {% endif %}
                              </div>

                             
                              <div class="col-md-5 text-center justify-content-center ms-5" id="pale">
                                   <h4 class="match text-center" id="com">Color Combinations: </h4>
                                   <div class="d-flex flex-wrap align-items-start gap-3">
                                        {% for palette in palettes %}
                                             <div class="d-flex col-auto flex-column gap-2">
                                                  <h5>{{ palette }}</h5>
                                             {% for color in palettes[palette] %}
                                                  <div class="rounded shadow-sm mx-auto" id="colorPalette" style=" background-color: {{ color }};"></div>
                                             {% endfor%}
                                             </div>
                                        {% endfor %}
                                   </div>
                              </div>
                         </div>
                    </div>
               </div> 
               <!-- Upload an image tab content -->
               <div class="tab-pane fade {% if tab == 'upload'%} show active {% endif %}" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                    <div class="container mt-4">
                         <div class="row align-items-center justify-content-center g-4">

                              <div class="col-md-3 text-center align-items-center me-5">
                                   <h4 class="mb-3">Upload an Image</h4>
                                   <input type="file" id="imageUpload" name="image" accept="image/*" class="form-control w-200 mx-auto my-3">
                                   <button type="submit" class="btn btn-primary mt-3">Extract Color & Find Combinations</button>
                              </div>

                              <div class="col-md-3 text-center mt-5">
                                   <h4 class="my-3">Extracted Color</h4>
                                   <div class="rounded shadow-sm mx-auto" id="extractedColor" style="background-color: {% if image_uploaded == True %} {{ extracted_color }} {% else %} '#ffffff' {% endif %};"></div>

                                   {% if extracted_color %}
                                        <p class="mt-2 text-muted">{{ extracted_color }}</p>
                                   {% endif %}
                              </div>
                         

                              <div class="col-5 text-center justify-content-center ms-5 mt-5" id="pal">
                                   <h4 class="match text-center" id="up">Color Combinations: </h4>
                                   {% if image_uploaded == True %}
                                        <div class="d-flex flex-wrap align-items-start gap-3">
                                             {% for palette in palettes %}
                                                  <div id="combinations" class="d-flex col-auto flex-column gap-2">
                                                       <h5>{{ palette }}:</h5>
                                                  {% for color in palettes[palette] %}
                                                       <div class="rounded shadow-sm mx-auto" id="palette" style="background-color: {{ color }};"></div>
                                                  {% endfor%}
                                                  </div>
                                             {% endfor %}
                                        </div>
                                   {% endif %}
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </form>
     <div class="container mt-n3">
          {% if palettes %}
               <form method="POST" action="/my_palettes" class="form">
                    <input type="hidden" name="action" value="save_palette">
                    <input type="hidden" name="base_color" value="{{ extracted_color }}">
                    <input type="hidden" name="complementary" value="{{ palettes['Complementary'] }}">
                    <input type="hidden" name="analogous" value="{{ palettes['Analogous'] }}">
                    <input type="hidden" name="triadic" value="{{ palettes.Triadic }}">
                    <input autocomplete="off" type="text" name="palette_name" id="save" placeholder="Palette Name">
                    <button type="submit" class="btn btn-success">Save Palette</button>
               </form> 
          {% endif %}
     </div>

     <div id="inst">Wondering how to use them? Check out the <a href="/wheel">color wheel!</a></span>
{% endblock %}