{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="text-center mb-4">
            <h1 class="display-4">Welcome To Outfit Color Matcher</h1>
            <p class="lead mb-4">Use simple color theory to explore matching colors and save combinations you like for later.</p>
        </div>
        <div class="text-center">
            <a class="btn btn-dark btn-lg" href="/color_matcher">Get Started</a>
        </div>
        <hr class="mt-4 mb-0">
    </div>
    <div class="row g-4 justify-content-center px-5">
    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <hr>
                <p class="card-text">Hello,<br>My name is Radnyee Deshpande.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">Github username</h5>
                <hr>
                <p class="card-text">username</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">edX username</h5>
                <hr>
                <p class="card-text">username</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">City & Country</h5>
                <hr>
                <p class="card-text">
                    I currently live in Cluj-Napoca, Romania.<br>
                    Although, I am of Indian origin.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100 mt-md-n5">
            <div class="card-body">
                <h5 class="card-title">Date</h5>
                <hr>
                <p class="card-text">today's date</p>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}