{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="text-center mb-4">
            <h1 class="display-4">Welcome To Color Combination Finder</h1>
            <p class="lead mb-4">Use simple color theory to explore matching colors and save combinations you like for later.</p>
        </div>
        <div class="text-center">
            <a class="btn btn-dark btn-lg" href="/color_matcher">Get Started</a>
        </div>
        <hr class="mt-4 mb-0">
    </div>
    <div class="row g-4 justify-content-center px-5">
    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <hr>
                <p class="card-text">Radnyee Deshpande</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">Github username</h5>
                <hr>
                <p class="card-text">dradnyee-a11y</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">edX username</h5>
                <hr>
                <p class="card-text">RD_2509_Y73P</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100">
            <div class="card-body">
                <h5 class="card-title">City & Country</h5>
                <hr>
                <p class="card-text">
                    Nashik, Maharashtra, India <br> (currently living in Cluj-Napoca, Romania)
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-dark h-100 mt-md-n5">
            <div class="card-body">
                <h5 class="card-title">Date</h5>
                <hr>
                <p class="card-text">Wednesday, 17 December 2025</p>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}